/* :root {
    --bs-danger:   #B5B6F2
}

.btn-danger {
    background-color: var(--bs-danger) !important;
    border-color: #1F1F1F;
    color: #1F1F1F;
}

.buttonVini {
    width: 100%;
    height: 70%;
    background-color: #C92071;
    margin: 65px;
    margin-top: 150px;
    padding: 40px;
    border-radius: 20px;
}

.backgroundVini {
    margin-bottom: 10px;
}

.imgVini {
    margin-bottom: 20px;
} */
